<?xml version="1.0" encoding="utf-8"?><!--
  ~ 筷字输入法 - 高效编辑需要又好又快的输入法
  ~ Copyright (C) 2025 Crazydan Studio <https://studio.crazydan.org>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program.
  ~ If not, see <https://www.gnu.org/licenses/lgpl-3.0.en.html#license-text>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- SDK 29 以下版本读取 Downloads 目录需要外部存储权限 -->
    <!--<uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28" />-->

    <!-- Note：在 application 上设置默认主题，以便于 IDE 识别并处理 drawable 中引用的样式 -->
    <application
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name_shown"
            android:theme="@style/Theme.Kuaizi.IME.Night"
            android:supportsRtl="true">
        <service
                android:name=".IMEService"
                android:exported="false"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/method" />
        </service>
        <!-- 支持分享应用内指定目录下的文件，不涉及系统权限的申请 -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <!-- Start: 配置
        Note:
        - 视图主题在 FollowSystemThemeActivity 中动态设置
        - 配置子视图需设置 exported 为 true，否则，会出现异常 "No Activity found to handle Intent"
        -->
        <activity
                android:name=".ui.Preferences"
                android:exported="true"
                android:label="@string/title_app_preferences">
            <intent-filter>
                <action android:name=".ui.Preferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.PreferencesTheme"
                android:exported="true"
                android:label="@string/label_config_theme">
            <intent-filter>
                <action android:name=".ui.PreferencesTheme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutApp"
                android:exported="true"
                android:label="@string/title_about_app">
            <intent-filter>
                <action android:name=".ui.about.AboutApp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutTeam"
                android:exported="true"
                android:label="@string/title_about_team">
            <intent-filter>
                <action android:name=".ui.about.AboutTeam" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutThanks"
                android:exported="true"
                android:label="@string/title_about_thanks">
            <intent-filter>
                <action android:name=".ui.about.AboutThanks" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutDonation"
                android:exported="true"
                android:label="@string/title_about_donation">
            <intent-filter>
                <action android:name=".ui.about.AboutDonation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutChangeLog"
                android:exported="true"
                android:label="@string/title_about_change_log">
            <intent-filter>
                <action android:name=".ui.about.AboutChangeLog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.SoftwareServiceAgreement"
                android:exported="true"
                android:label="@string/title_about_software_service_agreement">
            <intent-filter>
                <action android:name=".ui.about.SoftwareServiceAgreement" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.Copyright"
                android:exported="true"
                android:label="@string/title_about_copyright">
            <intent-filter>
                <action android:name=".ui.about.Copyright" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AlphaUserAgreement"
                android:exported="true"
                android:label="@string/title_about_alpha_user_agreement">
            <intent-filter>
                <action android:name=".ui.about.AlphaUserAgreement" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- End -->

        <!-- Start: 使用指南
        Note：视图主题在 FollowSystemThemeActivity 中动态设置。
              无 title 的视图需提前预设 *.NoActionBar 的主题，
              否则在视图初始时依然会出现 title
        -->
        <activity
                android:name=".ui.Guide"
                android:exported="true"
                android:theme="@style/Theme.Kuaizi.App"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.guide.ExerciseMain"
                android:exported="false"
                android:label="@string/title_app_guide_exercise"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name=".ui.guide.ExerciseMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- End -->
    </application>
</manifest>