<?xml version="1.0" encoding="utf-8"?><!--
  ~ 筷字输入法 - 高效编辑需要又好又快的输入法
  ~ Copyright (C) 2023 Crazydan Studio
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Note：在 application 上设置默认主题，以便于 IDE 识别并处理 drawable 中引用的样式 -->
    <application
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name_shown"
            android:theme="@style/Theme.Kuaizi.IME.Night"
            android:supportsRtl="true">
        <service
                android:name=".Service"
                android:exported="false"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/method" />
        </service>

        <!-- Start: 配置
        Note：视图主题在 FollowSystemThemeActivity 中动态设置
        -->
        <activity
                android:name=".ui.Preferences"
                android:exported="false"
                android:label="@string/title_app_preferences">
            <intent-filter>
                <action android:name=".ui.Preferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.PreferencesTheme"
                android:exported="false"
                android:label="@string/label_config_theme">
            <intent-filter>
                <action android:name=".ui.PreferencesTheme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutApp"
                android:exported="false"
                android:label="@string/title_about_app">
            <intent-filter>
                <action android:name=".ui.about.AboutApp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutTeam"
                android:exported="false"
                android:label="@string/title_about_team">
            <intent-filter>
                <action android:name=".ui.about.AboutTeam" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutSuggestion"
                android:exported="false"
                android:label="@string/title_about_suggestion">
            <intent-filter>
                <action android:name=".ui.about.AboutSuggestion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutThanks"
                android:exported="false"
                android:label="@string/title_about_thanks">
            <intent-filter>
                <action android:name=".ui.about.AboutThanks" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AboutChangeLog"
                android:exported="false"
                android:label="@string/title_about_change_log">
            <intent-filter>
                <action android:name=".ui.about.AboutChangeLog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.SoftwareServiceAgreement"
                android:exported="false"
                android:label="@string/title_about_software_service_agreement">
            <intent-filter>
                <action android:name=".ui.about.SoftwareServiceAgreement" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.Copyright"
                android:exported="false"
                android:label="@string/title_about_copyright">
            <intent-filter>
                <action android:name=".ui.about.Copyright" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.about.AlphaUserAgreement"
                android:exported="false"
                android:label="@string/title_about_alpha_user_agreement">
            <intent-filter>
                <action android:name=".ui.about.AlphaUserAgreement" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- End -->

        <!-- Start: 使用指南
        Note：视图主题在 FollowSystemThemeActivity 中动态设置。
              无 title 的视图需提前预设 *.NoActionBar 的主题，
              否则在视图初始时依然会出现 title
        -->
        <activity
                android:name=".ui.Guide"
                android:exported="true"
                android:theme="@style/Theme.Kuaizi.App"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.guide.ExerciseMain"
                android:exported="false"
                android:label="@string/title_app_guide_exercise"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name=".ui.guide.ExerciseMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- End -->
    </application>
</manifest>